<br><br><br><br><br><br><br><br>

<div class="container">        
  <table class="myproducts table table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Terms</th>
        <th>Subscription Start Date</th>
        <th>Subscription End Date</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each items}}<tr class="accordion-toggle">
    <td>{{index}}</td>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{terms}}</td>
    <td>{{startdate}}</td>
    <td>{{enddate}}</td>
    <td></td>
    <td><button type="button" class="btn btn-primary btn-xs" data-toggle="collapse" data-target="#collapse{{number}}" >Show Details</button></td>
  </tr>

  <!-- make it a nested table -->      
  <tr>
    <td class="details-cell" colspan="8">
    <div id="collapse{{number}}" class="panel-collapse collapse" style="height: 0px;">
	<table class="myproduct-table-row"><tr>
    <td><div>
    Version<br/>
            {{version}} <br/>
    </div></td>
    
    <td>
        <div>
            Release Notes <br/>
            {{notes}} <br/>
        </div></td>
    
    <td>
        <div>
           Download <br/>
            {{download}} <br/>
        </div></td>
    
    <td>
        <div>
            Documentation <br/>
            {{documentation}} <br/>
        </div></td>
    
    <td>
        <div>
            Install <br/>
            {{install}} <br/>
        </div></td>
    
    <td>
        <div>
            Uninstall <br/>
            {{uninstall}} <br/>
        </div></td>
    
    <td>
        <div>
            License File<br/>
            {{license}} <br/>
        </div></td>
    
    <td style="width: 260px;">
        <div style="text-align: center;">
            <a href="producthistory.html" type="button" class="btn btn-info btn-xxs" role="button">Product History</a> <button type="button" class="btn btn-danger btn-xxs">Cancel Subscription</button> 
        </div></td>
    
    </tr>
    </table>
    </div>
    </td>
</tr>{{/each}}

    </tbody>
  </table>
</div>
<br><br><br><br><br>
