<br><br><br><br><br><br><br><br>

<div class="container">        
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Index</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Terms</th>
        <th>Subscription Start Date</th>
        <th>Subscription End Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}<tr>
        <td>{{index}}</td>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{terms}}</td>
        <td>{{startdate}}</td>
        <td>{{enddate}}</td>
        <td><a class="btn btn-info" href="#">Show More Details</a></td>
      </tr>{{/each}}

    </tbody>
  </table>
</div>
<br><br><br><br><br>