<br><br><br><br><br><br>

<div class="container">

    <h4>Product History: Vital AI Development Kit</h4>
    <br>
    
<table class="table table-striped">
                    <tr>
                      <th style="width: 10px">Index</th>
                      <th>Version</th>
                      <th>Release Notes</th>
                      <th>Download</th>
                    <th>Documentation</th>
                        <th>Install script</th>
                        <th>Uninstall script</th>
                    </tr>
    
                    {{#each items}}<tr>
                      <td>{{index}}</td>
                      <td>{{version}}</td>
                      <td>{{notes}}</td>
                      <td>{{download}}</td>
                      <td>{{documentation}}</td>
                      <td>{{install}}</td>
                    <td>{{uninstall}}</td>
                    </tr>{{/each}}
                    
                  </table><br>
  <button type="button" class="btn btn-primary btn-sm">Return to Products</button>
    
</div>

<br><br><br><br>