   <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            {{header}}
            <small>{{subheader}}</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i>{{directory1}}</a></li>
              <li><a href="#">{{directory2}}</a></li>
            <li class="active">{{directory3}}</li>
          </ol>
        </section>